/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.DS_Store
db.sqlite3
S4H/user/__pycache__/
S4H/user/migrations/
S4H/user/static/images/s4hlogo.jpg
S4H/user/static/images/s4hlogo1.psd
