{% extends 'S4H/base.html' %}

{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% block title %}Nova Prova{% endblock %}


{% block content %}
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-6 col-md-offset-3 col-xs-offset-2 col-sm-offset-3">
        <h1 class="text-center">Nova Prova</h1>
        <hr class="star-light">
        <div class="form-content">
           <form class="form-horizontal" method = 'POST'>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button id=register-btn class="btn btn-info btn-block" type = 'submit'>Criar</button>
                {% endbuttons %}
            </form>
        </div>
      </div>
    </div>
{% endblock %}
