{% extends 'S4H/base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{Início}{% endblock %}
{% block content %}
    <!--index content -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="intro-text">
                <h1 class="content-title">Bem-vindo!</h1>
                <span class="name">School 4 Home</span>
                <hr class="star-light">
                <span class="skills">Sistema de educação a distância a fim de auxiliar <br> o estudo em casa.</span>
            </div>
        </div>
    </div>
    <!--end index content -->
    {% if not request.user.is_authenticated %}
    <!--Modal Sign in/up -->
    <div class="modal fade in" id="sign" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p class="modal-title" id="myModalLabel">Login</p>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="modal-col col-xs-6">
                            <div class="well">
                                <form id="loginForm" method="POST" action="/user/login/">
                                    {% csrf_token %}
									{% bootstrap_form form %}
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember" id="remember">
                                            Lembrar de mim
                                        </label>
                                    </div>
									{% bootstrap_form_errors form %}
                                    {% buttons %}
                                        <button type="submit" id="btn-login" class="btn btn-success btn-block">
                                        Entrar</button>
                                    {% endbuttons %}
                                    <div class="forgot-password">
                                        <a href="#forgot-password" data-toggle="modal" onclick="hideSignModal()">
                                        Esqueci minha senha</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-col col-xs-6">
                            <p class="lead">Ainda não tenho uma conta</p>
                            <ul class="list-unstyled" style="line-height: 2">
                                <li>O School 4 Home te ajuda na educação em casa!</li> <br>
                                <li><span class="glyphicon glyphicon-ok text-success"></span>Disponibilização de conteúdos e exercícios</li>
                                <li><span class="glyphicon glyphicon-ok text-success"></span>Acompanhamento e norteamento através de trilha de estudos</li>
                                <li><span class="glyphicon glyphicon-ok text-success"></span>Aulas em texto e vídeo</li>
                            </ul>
                            <p><a href="/user/newuser/" class="btn btn-info btn-block">Registrar-se</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" role="dialog" id="forgot-password">
        <div class="modal-dialog">
            <div class="modal-content content-password">
               <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <p class="modal-title" id="myModalLabel">Esqueci minha senha</p>
                </div>
                <div class="modal-body modal-password">
                    <div class="row">
                        <div class="modal-col col-password col-xs-12">
                            <p class="description">Digite seu email e uma mensagem automática com uma nova senha lhe será enviada. Esta senha deve ser alterada posteriormente.</p>
                            <div class="control-group">
                                <label class="control-label">Email:</label>
                                <input class="form-control" type="email" name="password" id="password">
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-success btn-email btn-block">Obter nova senha</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--end modal sign in/up -->

{% block extrajs %}
<script type="text/javascript">
//Show modal sign in/up according to parameter
  $(window).load(function(){
    var url = window.location.href;
    if(url.indexOf('?showLoginModal=yes') != -1) {
      $('#sign').modal('show');
    }
  });
{% if form.errors %}
	$(window).load(function(){
		$('#sign').modal('show');
	});
{% endif %}
</script>
{% endblock %}

{% endif %}
{% endblock %}
