{% load i18n  %}

<!-- Menu -->
<div class="navbar navbar-custom" role="navigation">
   <div class="container">
       <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
       </div>
       <div class="collapse navbar-collapse navbar-ex1-collapse">
         <ul class="nav navbar-nav">
             <li><a href="{% url 'index' %}">Início</a></li>

             {% if request.user.is_authenticated %}

             {% endif %}
             <li>
                <a href="{% url 'list:create_question_text' %}">Questões</a>
            </li>

         </ul>
         {% if request.user.is_authenticated %}
         <ul class="nav navbar-nav pull-right">
             <li class="dropdown">
                 <a href="#" class="dropdown-toggle" type="button" id="user-link"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     Oi!, {{ user.s4h_user.full_name }}
                     <span class="caret"></span>
                 </a>
                 <ul class="dropdown-menu pull-right" aria-labelledby="user-link">
                     <li class="user-menu-info"><a href="{% url 'user:newuser' %}">
                       <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      Algoooooo</a></li>
                     <li class="user-menu-info"><a href="{% url 'user:newuser' %}">
                       <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                      Algo</a></li>
                     <li role="separator" class="divider"></li>
                     <li class="user-menu-info"><a href="{% url 'user:logout' %}">
                       <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                       Sair</a></li>
                 </ul>
             </li>
         </ul>
         {% else %}
         <ul class="nav navbar-nav pull-right">
             <li>
              <a id="enter-button" class="btn btn-success" data-toggle="modal" href="{% url 'index' %}?showLoginModal=yes">
                Entrar | Registrar-se
              </a>
             </li>
         </ul>
         {% endif %}
     </div>
   </div>
</div>
<!--end menu -->
